<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!search engine optimization-->
    <META name="keywords" content="<%=@seo_keywords%>" />

      <! see stylesheets folder as this is what the 'blogs' link refers to-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= "site-wrapper">
      <div class = "site-wrapper-inner">
        <div class = "cover-container">
        
          <%= render "shared/application_nav" %>

          <%= login_helper%>
              
          <! code from any other page or file will slide into the yield method, allowing it to appear alongside the code being used on the entire application, it dynamically slides in code-->
          <%= yield %>

          <%= copyright_generator %>

          <% if session[:source]%>
          p>Thanks for visiting me from <%= session[:source] %></p>     
        </div>
      </div>
    </div>
    <% end %>
  </body>
</html>
